<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img id="re-size" src="png/Retina-Ready.png" />
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav">
            <li><a href="#/home">Home</a></li>
            <li ng-if='userType == "admin"'><a href="#/create">Create</a></li>
            <li ng-if='userType == "admin"'><a href="#/manage">Manage</a></li>
        </ul>
    </div>
</nav>

<div>
    <p>Select an option below: </p>
</div>
<div>
    <ul id="homeList">
        <!-- Check for user types -->
        <div ng-if='userType == "pal"'>
            <li ng-repeat ="item in optionsPAL">
                <div ng-if="item == 'Events'">
                    <button ng-click="redirect('/events')" class="btn btn-hg btn-primary">
                        {{item}}
                    </button>
                </div> <br/>
                <div ng-if="item == 'Students'">
                    <button ng-click="redirect('/students')" class="btn btn-hg btn-primary">
                        {{item}}
                    </button>
                </div> <br/>
                <div ng-if="item == 'Information'">
                    <button ng-click="redirect('/info')" class="btn btn-hg btn-primary">
                        {{item}}
                    </button>
                </div> <br/>
                <div ng-if="item == 'Forum'">
                    <button ng-click="redirect('/questions')" class="btn btn-hg btn-primary">
                        {{item}}
                    </button>
                </div> <br/>
                
            </li>
        </div>

        <div ng-if='userType == "student"'>
            <li ng-repeat ="item in optionsStudent">
                <div ng-if="item == 'Events'">
                    <button ng-click="redirect('/events')" class="btn btn-hg btn-primary">
                        {{item}}
                    </button>
                </div> <br/>
                <div ng-if="item == 'Information'">
                    <button ng-click="redirect('/info')" class="btn btn-hg btn-primary">
                        {{item}}
                    </button>
                </div> <br/>
                <div ng-if="item == 'Forum'">
                    <button ng-click="redirect('/questions')" class="btn btn-hg btn-primary">
                        {{item}}
                    </button>
                </div> <br/>
            </li>
        </div>

        <div ng-if='userType == "admin"'>
            <li ng-repeat ="item in optionsAdmin">
                <div ng-if="item == 'Events'">
                    <button ng-click="redirect('/events')" class="btn btn-hg btn-primary">
                        {{item}}
                    </button>
                </div> <br/>
                <div ng-if="item == 'Students'">
                    <button ng-click="redirect('/students')" class="btn btn-hg btn-primary">
                        {{item}}
                    </button>
                </div> <br/>
                <div ng-if="item == 'Information'">
                    <button ng-click="redirect('/info')" class="btn btn-hg btn-primary">
                        {{item}}
                    </button>
                </div> <br/>
                <div ng-if="item == 'Forum'">
                    <button ng-click="redirect('/questions')" class="btn btn-hg btn-primary">
                        {{item}}
                    </button>
                </div> <br/>
            </li>
        </div>

    </ul>
</div>