<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img id="re-size" src="png/Retina-Ready.png" />
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav">
            <li><a href="#/home">Home</a></li>
            <li ng-if='userType == "admin"'><a href="#/create">Create</a></li>
            <li ng-if='userType == "admin"'><a href="#/manage">Manage</a></li>
        </ul>
    </div>
</nav>

<h3>Manage</h3>
<button class="btn btn-success" ng-click="editPAL()" data-modal="loadPAL">PALs</button>
<button class="btn btn-success" ng-click="editEvent()">Events</button>

<div ng-if="event  == 'editP'">
    <p>Edit PAL</p>
    <form id="createForm" ng-if="event == 'student'">
        <div>
            <label>Select PAL to edit: </label>
            <select id="selectPal" ng-model="first" ng-options="pal.name for pal in dbPAL"></select>
        </div>
        <button type=submit ng-click="submitStudent()">Create</button>
    </form>
</div>

<div ng-if="event  == 'editE'">
    <p>Select Event to edit</p>
</div>