#container{
    margin-left: 350px;
    margin-top: -20px;
}

#re-size{
    height: 35px;
}

#homeList ul {
    list-style-type: none;
}

#homeList ul li {
    display: inline;
}

#loginError {
	color: #ff0000;
}